<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>642118801900-hak1su07j3k5t4sqhkc77cuh1sk11bsd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642118801900-hak1su07j3k5t4sqhkc77cuh1sk11bsd</string>
	<key>API_KEY</key>
	<string>AIzaSyD11kGjwoPwrNExHM7UI2LTP1Fy7-r3Ffw</string>
	<key>GCM_SENDER_ID</key>
	<string>642118801900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IgApple.AppLoginWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>apploginwithfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>apploginwithfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642118801900:ios:3b1b4ecad6128b9d</string>
	<key>DATABASE_URL</key>
	<string>https://apploginwithfirebase.firebaseio.com</string>
</dict>
</plist>